<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>RSWebView.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>8E6F0C2D1C86C81B0073B3C5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8E6F0C461C86C81B0073B3C5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8E6F0C511C86C81B0073B3C5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
